@import url('https://fonts.googleapis.com/css2?family=IBM Plex Serif&display=block');

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(31, 31, 31);
  font-family: "IBM Plex Serif";
  color: rgb(255, 255, 255);
  align-items: center;

}

a {
	color: rgb(255, 255, 255);
	font-family: "IBM Plex Serif";
	text-decoration: none;
}

.basic-protect * {
    /* Selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Main Page Layout */

#main-content {
	/* background-color: rgb(184, 40, 40); */
	margin: auto auto;
	flex-direction: column;
	gap: 75px;
	max-width: 800px;
	padding: 10px;
}

#main-name {
	margin: 5px;
	font-size: 30px;
	font-weight: bold;
	color: orange;
}

#main-image	{
	display: flex;
	width: auto;
	height: 400px;
	max-height: 400px;
	flex: 20%;
}

#changing-image {
  	margin-left: auto;
  	margin-right: auto;
	object-fit: contain;
	object-position: center;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
	/* overflow: clip; */
}

#main-text	{
	display: block;
	text-align: center;
}

#main-sub-text {
	font-size: larger;
	margin: 10px;
}

#main-navbar{
	display: block;
	text-align: center;
	font-size: larger;
	margin-top: 20px;
	font-size: 25px;
	cursor: default;
}

.main-navbar-button	{
	display: inline;
	font-size: 25px;
	color: rgb(141, 141, 141);
	background-color: transparent;
	font-family: "IBM Plex Serif";
	text-decoration: none;
	border: none;
	transition: transform .2s cubic-bezier(.53,.41,.61,1.73);
}



/* Toggle section */

.toggle-section {
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	/* background-color: rgb(73, 73, 73); */
}

/* About Section */
#text-and-image {
	display: flex;
	overflow: hidden;
    text-overflow: ellipsis;
}

#about-text {
	margin: 0px 10px;
}

#about-text p{
	margin: 10px 0px;
}

#my-face-img {
	margin: 10px;
	width: 500px;
}

#my-face-img img {
	border-radius: 200px;
	max-width: 100%;
}

#media-links {
	margin: 14px 0px;
}

.icon-link {
	display: inline-block;
	margin-right: 5px;
	transition: transform .25s cubic-bezier(.53,.41,.61,1.73),  color .25s linear;
	color: white;
}

/* Games Section */

.game-container {
    display: flex;
	border-radius: 5px;
	margin: 10px;
	height: 180px;
	transition: transform .25s;
}


.game-info {
	margin: 10px;
	width: 66%;
	overflow: hidden;
    text-overflow: ellipsis;
}

.game-info-title {
	color: orange;
	margin: auto;
}

.game-image {
	display: flex;
	width: 33%;
	padding: 10px;
}

.game-image img{
  	margin-left: auto;
  	margin-right: auto;
	object-fit: cover;
	object-position: center;
	width: 100%;
	border-radius: 10px;
	overflow: clip;
}

/* Art Section */

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media (hover: hover) and (pointer: fine) {

.main-navbar-button:hover{
	color: orange;
	cursor: pointer;
	transform: scale(1.15);
}

.game-container:hover {
	background-color: rgba(134, 134, 134, 0.185);
	transform: scale(1.025);
}

.icon-link:hover {
	color: orange;
	transform: scale(1.15) rotate(-8deg);
}

}