@import url('https://fonts.googleapis.com/css2?family=IBM Plex Serif&display=block');

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #222222;
	font-family: "IBM Plex Serif";
	/* font-family: "Segoe UI", sans-serif, verdana; alt font */
	font-size: medium;
	color: rgb(255, 255, 255);
	align-items: center;
}

a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.basic-protect * {
    /* Selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Main Page Layout */

#main-content {
	/* background-color: rgb(184, 40, 40); */
	margin: auto;
	flex-direction: column;
	gap: 75px;
	max-width: 800px;
	padding: 10px;
}

#main-name {
	margin: 5px;
	font-size: 30px;
	font-weight: bold;
	color: orange;
}

#main-image-container {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: fit-content;
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 400px;
}

#changing-image {
	display:block;
	margin-left:auto;
	margin-right:auto;
	object-fit: contain;
	width: 100%;
	max-height: inherit;
	border-radius: 20px;
	overflow: clip;
}

#main-text	{
	display: block;
	text-align: center;
}

#main-sub-text {
	font-size: larger;
	margin: 10px;
}

#main-navbar{
	display: block;
	text-align: center;
	font-size: larger;
	cursor: default;
	margin-bottom: 20px;
}

.main-navbar-button	{
	display: inline;
	font-size: 25px;
	color: rgb(148, 148, 148);
	background-color: transparent;
	font-family: inherit;
	border: none;
	transition: transform .2s cubic-bezier(.53,.41,.61,1.73);
}


/* Toggle section */

.toggle-section {
	border-radius: 5px;
	/* background-color: rgba(73, 73, 73, 0.288); */
}

.section-title {
	text-align: center;
	color: orange;
	margin: 20px;
}

/* About Section */
#text-and-image {
	display: flex;
	overflow: hidden;
    text-overflow: ellipsis;
}

#about-text {
	margin: 0px 10px;
}

#about-text p{
	margin: 10px 0px;
}

#my-face-img {
	margin: 10px;
}

#my-face-img img {
	border-radius: 200px;
	width: 150px;
	margin-left:auto;
	margin-right:auto;
}

#media-links {
	margin: 14px 0px;
}

.icon-link {
	display: inline-block;
	margin-right: 5px;
	transition: transform .25s cubic-bezier(.53,.41,.61,1.73),  color .25s linear;
	color: white;
}

/* Games Section */

.game-container {
    display: flex;
	border-radius: 5px;
	margin: 10px 0px;
	height: 220px;
	transition: transform .25s;
}

.game-info-title {
	color: orange;
	margin: auto;
}

.game-info {
	padding: 10px;
	width: 66.66%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.game-image {
	padding: 12px;
	aspect-ratio: 16/9;
}

.game-image img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

/* Art Section */

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Changes things when screen is below 600px width */
@media only screen and (max-width: 600px) {
	#my-face-img {
		display: none;
	}

	[class*="game-info"] {
		width: calc(100%);
	}
	.game-image {
		display: none;
	}
}

/* Hover elements */

@media (hover: hover) and (pointer: fine) {

	.main-navbar-button:hover{
		color: orange;
		cursor: pointer;
		transform: scale(1.15);
	}

	.game-container:hover {
		background-color: rgba(134, 134, 134, 0.185);
		transform: scale(1.025);
	}

	.icon-link:hover {
		color: orange;
		transform: scale(1.15) rotate(-8deg);
	}
}